body{
    flex:100%;
    margin: 0 150px;
    margin-top: 25px;
    background-color:#0F1932;
    font-family: 'Now Bold', sans-serif;
    overflow-x: hidden;
}
@media screen and (max-width:415px) {
    body,html {
        overflow-x: hidden;
        margin:auto;
    }
}
    nav{
    color: white;
    display: flex;
}
nav img {
    height: 40px;
    width: auto;
}
@media screen and (max-width:415px) {
    nav img{
        position: relative;
        left:115px;
    }
}

nav ul{   
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}
@media screen and (max-width:415px) {
    nav ul{
        display:none;
    }
}
nav ul li{
    padding-left: 25px;
    font-size: 15px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
#mainSection{
    margin-top:100px;
    display: flex;
    color: white;
}
@media screen and (max-width:415px) {
    #mainSection div{
        text-align:center;
    }
}
/* @media screen and (max-width:415px) {
    button {
       text-align:center;
       position: relative;
       margin-left:50px;
    }
} */
#mainSection div{
    flex: 100%;
   color: #506180;
   font-size:18px;
   display:flex;
   flex-direction:column;
   text-align: center;
}
#mainSection img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:415px) {
    #mainSection img{
        display:none;
    }
} 
button{
    font-size:17px;
    font:bold;
    color:white;
    margin-top:25px;
    background-color:#f42f54;
    border-top-left-radius:25px;  
    border-top-right-radius:25px;  
    border-bottom-right-radius:25px;  
    border-bottom-left-radius:25px; 
    width:150px;  
    height:50px; 
}
 @media screen and (max-width:415px) {
    button{
        position: relative;
        left:130px;
    }
}  
button a{
    text-decoration:none;
    color:white;
}
#mainSection  h1{
    color: white;
    margin-bottom:25px;
    font-size: 30px;
}
@media screen and (max-width:415px) {
    #mainSection p{
        font-size:25px;
        position: relative;
        left:50px;
    }
} 
@media screen and (max-width:415px) {
    #mainSection h1{
         font-size:35px;
        position: relative;
        left:50px;
    }
} 
/* @media screen and (max-width:415px) {
    #mainSection {
        display:flex;
        flex-direction:column;
        text-align:center;
    }
}  */
#featureSection{
        margin-top:100px;
        display:flex;
        color: white;
        flex:100%;
    }
@media screen and (max-width:415px) {
    #featureSection{
        display:flex;
        flex-direction:column;
        }
    }
#featureSection img{
    width: 1000px;
    height: 250px;
    position:absolute;
}
@media screen and (max-width:415px){
    #featureSection img{
        display:none;
    }
}
    
#featureSection div{
    color: #506180;
    font-size:18px;
    position:relative;
    margin-left:25px;
    text-align:center;
    display:flex;
    flex-direction:column;
}
@media screen and (max-width:415px) {
    #featureSection div{
        margin-right:25px;
    }
}
#featureSection p{
    color:#657899;
}
@media screen and (max-width:415px) {
    #featureSection p{
        margin-bottom:100px; 
        font-size:25px;
        position: relative;
        right:10px;
        display:flex;
    }
}

#featureSection h5{
    color: white;
    position:relative;
    margin-bottom:25px;
}
@media screen and (max-width:415px) {
    #featureSection h5{
        font-size:30px;
    }
}
@media screen and (max-width:415px) {
    #featureSection img{
        width:60%;
    }
}

#TeamSection h3{
    padding-top:100px;
    padding-bottom:25px;
    color:white;
    font-size:30px;
    text-align:center;
}
#TeamSection p{
    color:#657899;
    font-size:15px;
    text-align:center;
}
#TeamSection img{
    height:130px;
    width:140px;
}

#TeamSection div{
    margin-top: 25px;
display:flex;
    flex: 20%;
}
#TeamSection h2{
    color: white;
    position: relative;
    top:100px;
    right:92px;

}
#TeamSection span{
    color: #657899;
     position: relative;
    right:175px;
    top:145px;
    text-align:initial;
}
/* @media screen and (max-width:415px) {
    #TeamSection{
        display:flex;
        flex-direction:column;
    }
} */
@media screen and (max-width:415px) {
    #TeamSection span{
        position: relative;
        top:0px;
        right:0px;
        padding-bottom:25px;
    }
}
@media screen and (max-width:415px) {
    #TeamSection h2{
        position: relative;
        top:0px;
        right:0px;
       
    }
}
@media screen and (max-width:415px) {
    #TeamSection div{
        display:flex;
        flex-direction:column;
    }
}
@media screen and (max-width:415px) {
    #TeamSection img{
        /* padding-top:25px; */
    }
}
.moveDown{
    position: relative;
    top:50px;
}
@media screen and (max-width:415px) {
    .moveDown{
        position: relative;
        top:0px;
        /* display:hidden; */
        }
}

#PartnersSection p{
    color:white;
    font-size:15px;
    text-align:center;
    margin-top:350px;
}
#PartnersSection img{
    height:50px;
    width:150px;
    flex:20%;
    margin-top:25px;
    padding-left:75px;
}
@media screen and (max-width:415px) {
    #PartnersSection p{
    text-align:center;
    margin-top:25px;
        }
}
/*#ContactSection div{
}*/
#ContactSection img{
    height:180px;
    width:400px;
    margin-right: 100px;
    position: absolute;
}
#ContactSection {
    display:flex;
    flex:50%;
    color:white;
    margin-top:50px;
}
#ContactSection p{
    color:white;
    margin-left:150px;
    margin-top:30px;
    text-align:center;
    margin-bottom:30px;
}
@media screen and (max-width:415px) {
    #ContactSection p{
        margin-left:0px;
        margin-top:25px;
        margin-bottom:0px;
        }
}
#ContactSection span{
    font-size:30px;
    margin-left:400px;
}

.phone{
    position: relative;
    top:30px;
    right:150px;       
    }
@media screen and (max-width:415px) {
        .phone{
            position: relative;
            left:100px;
            top:-98px;
    }
}
.envelope{
    position: relative;
    top:60px;
    right:180px;
}
.plane{
    position: relative;
    top:100px;
    right:150px;
}
@media screen and (max-width:415px) {
    .plane{
        position: relative;
        left:100px;
        top:-48px;
    }
}
@media screen and (max-width:415px) {
    .envelope{
        position: relative;
        left:100px;
        top:-71px;
    }
}

#ContactSection label{
 margin-left:250.5px;
 padding-right:50px;
}
@media screen and (max-width:415px) {
    #ContactSection label{
        margin-left:0px;
    }
}
#ContactSection input{
 border-radius:6px;;
 border:1px solid #dbe4f7;
 width:250px;
margin-top:25px;
line-height: 21px;
background-color:#0F1932 ;
}
#ContactSection textarea{
    margin-top:25px;
    border-radius: 6px;
    border: 1px,solid #dbe4f7;
    width: 450px;
    line-height: 21px;
    background-color:#0F1932 ;
    color:white;
    height:75px;
    position: relative;
    right:25px;
}
::placeholder{
    color:#566888;
}
#ContactSection button{
    background-color:#f42f54;
    border-top-left-radius:25px;  
    border-top-right-radius:25px;  
    border-bottom-right-radius:25px;  
    border-bottom-left-radius:25px; 
    width:150px;  
    height:50px; 
    margin-left:500px;
}
.movingup{
    position: relative;
    bottom:65px;
}
@media screen and (max-width:415px) {
    .movingup {
        position: relative;
    bottom:35px;
    }
}
@media screen and (max-width:415px) {
    #ContactSection {
        display:flex;
        flex-direction:column;
    }
}
@media screen and (max-width:415px) {
    #ContactSection span{
        margin-left:0px;
       position: relative;
       left:100px;
    }
}
@media screen and (max-width:415px) {
    #ContactSection button{
        position: relative;
        left:-350px  ;
    }
}
@media screen and (max-width:415px) {
    #ContactSection textarea{
        width:250px;
        position: relative;
        left: -25px;
    }
}
@media screen and (max-width:415px) {
    #ContactSection img{
       display: none;
    }
}

